<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam Bem-Vindes ao meu Blog</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Em pé sem
                cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Atirei o pau no gatis, per gatis num
                morreus. Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
                A ordem dos tratores não altera o pão duris. Mauris nec dolor in eros commodo tempor. Aenean aliquam
                molestie leo, vitae iaculis nisl. Viva Forevis aptent taciti sociosqu ad litora torquent. Suco de
                cevadiss deixa as pessoas mais interessantis.
                Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Interagi no mé,
                cursus quis, vehicula ac nisi. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e
                fermentis. Per aumento de cachacis, eu reclamis.
                Aenean aliquam molestie leo, vitae iaculis nisl. Cevadis im ampola pa arma uma pindureta. Paisis,
                filhis, espiritis santis. Manduma pindureta quium dia nois paga.
                Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Si num tem leite então bota uma
                pinga aí cumpadi! In elementis mé pra quem é amistosis quis leo. Quem num gosta di mé, boa gentis num é.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>