<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/v3AMfkE.jpg"
            alt="Imagem de capa do card">
    </div>

    <div class="card-body">
        <h3 class="card-title text-center text-monospace">Mayara Dotta</h3>
        <h5 class="card-title text-center text-monospace">Desenvolvedora Full Stack Java Jr</h5>
        <p class="card-text text-center text-monospace">Apenas uma mulher Latino Americana que ama tecnologia e outras
            coisas 👩‍💻 ☕ 🍫 🍀 🐱 🥦 🏍️</p>

        <a href="https://www.linkedin.com/in/mayara-pdotta"
            class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

        <a href="https://github.com/DottaMP" class="btn btn-outline-dark d-flex justify-content-center"
            target="_blank">GitHub</a>

    </div>
</div>